/* General Styling */
head{ margin:0;
    padding: 0;
    box-sizing: border-box ; }
    body {
        display: inline-block;
        float: left;
        font-family: Arial, sans-serif;
        line-height: 50px;
        color: rgb(230, 81, 36);
        line-height: 35px;
        font-size: 27px;
        background-attachment: fixed;
        background-image: url(iron_man_armor_mark_vii_4k-widescreen_wallpapers.jpg);
        background-size: cover;
        
    }

    h1{
    
        line-height: 200px;
        float: right;
        text-align: right;
        font-size: 25px;
        color: lawngreen;
    }
    a{
        color: orangered;
        
    }

    h2{
        line-height: 200px;
        font-size: 25px;
        padding-left:1000px;
    }

    h3{
        line-height: 150px;
        font-size: 25px;
        padding-left:1000px;
        text-align: center;
    }